* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #2b292d;
}

/* Reset CSS */
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* Landing */
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdded8;
}

.landing-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
}

.landing-desc {
  line-height: 1.375;
  letter-spacing: -0.01em;
  text-align: center;
  margin-top: 24px;
}

.landing .button-group {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.fill-button:first-child {
  margin-right: 8px;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  background-color: #3040c4;
  color: white;
  width: 140px;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
  text-align: center;
  transition: opacity 0.2s;
}
.fill-button:hover {
  opacity: 0.5;
}

.landing .fill-button.inverted {
  background-color: white;
  color: #3040c4;
}

/* Service */

.service {
  background-color: #f4f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
}

.service-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3636363636;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
  color: #2b292d;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

/* Program */

.program .row.justify-content-center {
  margin-bottom: 32px;
}

.section {
  padding: 80px 0;
}

.section-category {
  display: block;
  color: #009b4d;
  /* strong태그는 margin-bottom이 안먹히므로 */
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.section-title {
  font-size: 34px;
  line-height: 1.058823529;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.program .col-md-4 {
  margin-bottom: 20px;
}
.program .col-md-4:last-child {
  margin-bottom: 0;
}

.program-card {
  display: block;
  border-radius: 8px;
  padding: 24px 0 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.program-card:hover {
  background-color: #3040c4;
  color: white;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card img {
  display: block;
  /* 이미지는 블록처리! */
  width: auto;
  height: 195px;
  margin: 0 auto 16px;
}

.program-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33333333;
  letter-spacing: -0.02em;
}

/* Curriculum */

.curriculum .section-category {
  color: #0189d1;
}

.curriculum .section-desc {
  margin-bottom: 32px;
}

.curriculum-image {
  display: none;
}

.curriculum .row:first-child {
  margin-bottom: 48px;
}

.curriculum-detail {
  font-size: 15px;
  line-height: 1.466666666;
  letter-spacing: -0.01em;
}

.curriculum-detail:first-child {
  margin-bottom: 40px;
}

.curriculum strong {
  font-weight: 700;
}

/* Subscription */

.subscription {
  background-color: #f2f8fa;
  padding: 65px 0 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.subscription-image img {
  display: block;
  height: 190px;
  width: auto;
  margin: 0 auto 41px;
}

.subscription-title {
  font-size: 32px;
  letter-spacing: -0.05em;
  font-weight: 700;
  margin-bottom: 16px;
}

.subscription-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.subscription-input-group {
  margin-bottom: 8px;
}

.subscription input {
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 48px;
  padding: 0 16px;
  color: #7b7b7e;
  margin-bottom: 8px;
}

.subscription .fill-button {
  display: block;
  width: 100%;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  margin-bottom: 8px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

.subscription-misc {
  font-size: 13px;
  line-height: 1.5384615384615;
  color: #7b7b7e;
}
.subscription-misc a {
  font-family: "Work Sans";
  color: #3040c4;
  text-decoration: underline;
}

/* Footer */

footer {
  padding: 24px 0 30px;
}

footer a {
  display: block;
  color: #807f81;
  font-size: 14px;
  line-height: 1.7142857142857;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

footer a:last-child {
  margin-bottom: 0;
}

/* >= 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.454545;
    letter-spacing: -0.01em;
  }

  .fill-button {
    width: 160px;
    height: 56px;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.0909090909;
  }

  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  /* Landing */

  .landing-content {
    height: auto;
    /* 자식 요소들의 세로길이의 합으로 자동설정 */
    padding: 120px 0;
  }

  .landing .landing-title {
    font-size: 70px;
    line-height: 1.02857142857;
  }

  .landing .landing-desc {
    margin-top: 32px;
  }

  .landing .button-group {
    margin-top: 32px;
  }

  .landing .button-group .fill-button {
    font-size: 18px;
    line-height: 1.55555555555;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* Service */

  .service-title {
    font-size: 26px;
    line-height: 1.3076923076;
  }

  .service .col-12:first-child {
    margin-bottom: 0;
  }

  /* Program */
  .program .row.justify-content-center {
    margin-bottom: 72px;
  }

  .program {
    text-align: center;
  }

  .program-card img {
    margin-bottom: 24px;
  }

  .program-title {
    font-size: 20px;
    line-height: 1.2;
  }

  /* Curriculum */

  .curriculum .section-desc {
    margin-bottom: 72px;
  }

  .curriculum .row:first-child {
    margin-bottom: 36px;
  }

  .curriculum-detail {
    font-size: 18px;
    line-height: 1.444444444;
    letter-spacing: -0.01em;
  }

  .curriculum-detail:first-child {
    margin-bottom: 0;
  }

  .curriculum strong {
    font-weight: 700;
  }

  .curriculum-image {
    display: block;
  }

  .curriculum-image img {
    display: block;
    width: 100%;
    max-width: 425;
    height: auto;
  }

  /* Subscription */
  .subscription {
    padding: 65px 0 40px;
    display: flex;
    padding: 88px 0 87px;
    text-align: start;
  }

  .subscription-image img {
    display: block;
    width: 100%;
    max-width: 287px;
    height: auto;
    margin-left: 0;
  }

  .subscription-title {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .subscription-desc {
    font-size: 22px;
    line-height: 1.4545454545;
    margin-bottom: 24px;
  }

  .subscription-input-group {
    display: flex;
    margin-bottom: 4px;
  }

  .subscription input {
    width: 100%;
    height: 56px;
    margin-right: 8px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.333333333;
    letter-spacing: -0.01em;
  }

  .subscription .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.333333333;
    letter-spacing: -0.02em;
    flex-shrink: 0;
  }

  .subscription-misc {
    font-size: 14px;
    line-height: 1.71428571428;
  }

  /* Footer */
  footer {
    padding: 16px 0;
  }

  footer a {
    color: #807f81;
    display: inline;
    margin: 0 16px 0 0;
  }
}

/* Custom Grid System - Fix Container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
