* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
  background-color: #1f2d3d;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1f2d3d;
  line-height: 1.25;
}

strong {
  font-size: 14px;
  font-weight: 400;
  color: #afb3b9;
  line-height: 1.4285714286;
  margin-top: 4px;
  display: block;
}

p {
  font-size: 16px;
  color: #79818b;
  line-height: 1.5;
  margin-top: 12px;
}

/* 가상요소 새로 만들기 */
.clearfix::after {
  clear: left;
  content: "";
  display: block;
}

.card-user {
  width: 44px;
  height: 44px;
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

.card {
  background-color: white;
  max-width: 541px;
  padding: 20px;
}

.card-content {
  float: left;
}
