@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: bisque;
}

.line-button {
  position: relative;
  border: none;
  background-color: white;
  width: 110px;
  height: 56px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  transition: all 0.5s;
}
.line-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #0066ff;
  transition: width 250ms ease-out;
  /* 보통 작은 요소의 인터렉션에는 250ms를 많이 쓴다. */
}

.line-button:hover::before {
  width: 100%;
}
