@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: aquamarine;
}

/* 💯 스크린 리더 온리 기억하기!! */
.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  /* 투명도 (0: 완전투명  ~ 1: 완전불투명)*/
}

.card {
  display: flex;
  background-color: white;
  width: 840px;
  height: 248px;
  padding: 24px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: url("./assets/img-house.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /* 💯 center해주지 않으면 사진의 왼쪽부터 나온다 */
  background-size: cover;
  /* 💯 background 4형제 기억하기! */
  margin-right: 24px;
  border-radius: 6px;
}

.like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  background-image: url("./assets/icon-favorite.svg");
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center center;
  background-size: 24px 24px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* 안 배운 개념 */
}

.card-content {
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
}

.plus-badge {
  display: inline-block;
  /* strong 태그는 기본 display가 inline 이다!! */
  background-color: #92174d;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 1px 8px;
  color: white;
  line-height: 1.4285714286;
  margin-right: 6px;
  /* inline-block이라 기본적으로 없앨 수 없는 margin이 있다. */
  text-transform: uppercase;
  /* 연습 겸 CSS로 대문자화 */
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  color: #7d858f;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}
.property-rate::before {
  display: inline-block;
  position: relative;
  top: 2px;
  content: "";
  /* content는 무조건 들어가야 한다! */
  background-image: url(./assets/icon-star.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  /* background 4형제*/
  width: 16px;
  height: 16px;
}
.property-rate strong {
  font-weight: 400;
  color: #151b26;
}
.property-rate span {
  color: #7d858f;
}

.card-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #151b26;
  margin-bottom: 16px;
}

.property-detail {
  font-size: 14px;
  line-height: 1.1428571428;
  color: #7d858f;
}
.property-detail dd span::after {
  content: " ·";
  margin: 0 4px;
}
.property-detail dd span:last-child::after {
  content: "";
}
.property-detail div {
  margin-bottom: 8px;
}
